{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="text-primary">List caserios </h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-muted">Nombre</th>
                                    <th class="text-muted">Descripcion</th>
                                    <th class="text-muted">Fecha</th>
                                    <th class="text-muted">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('caserios_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                                    <td>{{ entity.descripcion }}</td>
                                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('caserios_show', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('caserios_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <ul>
        <li>
            <a href="{{ path('caserios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
