{% extends '::base.html.twig' %}

	{% block body -%}
		<section>
			    <div class="container">
			    	<div class="row">
			    	<div class="col-lg-6">
			    		<h5 class="text-primary">Agregar nuevo caserio</h5>
			    	</div>
			    	<div class="col-lg-6">
			    		<h5 class="text-primary"><a href="{{ path('caserios') }}">Lista caserios </a></h5>
			    	</div>
			    		<form action="{{ path('caserios_create')}}" method="post" id="edit-form-caserios {{ form_enctype(form) }}">
			    		<div class="col-lg-12" id="form-edit-caserios">
							 {{ form_row(form.nombre) }}
			    			 {{ form_row(form.descripcion) }}
			    			 {{ form_row(form.fecha) }}
			    			{{ form_row(form.submit) }}
			    			{{ form_row(form._token) }}
			    		</div>
			    		</form>
			    	</div>
			    </div>
			  
	   </section>
	        
	{% endblock %}

