{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Caserios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagencaserio</th>
                <td>{{ entity.Imagencaserio }}</td>
            </tr>
            <tr>
                <th>Video_1</th>
                <td>{{ entity.Video1 }}</td>
            </tr>
            <tr>
                <th>Video_2</th>
                <td>{{ entity.Video2 }}</td>
            </tr>
            <tr>
                <th>Video_3</th>
                <td>{{ entity.Video3 }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('caserios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('caserios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
